
{% block main %}

    <h1>Agendamento Online</h1>
    <form action="/action_page.php">
        <label for="fname">Nome Completo:</label>
        <input type="text" id="fname" name="fname"><br><br>

        <label for="idade">Idade</label>
        <input type="text" id="idade" name="idade"><br><br>

        <label for="telef">Telefone</label>
        <input type="text" id="telef" name="telef"><br><br>

        <label for="espec">Especialidade</label>
        <input type="text" id="espc" name="espec"><br><br>

        <label for="espec">Hórario</label>
        <input type="text" id="hor" name="=hor"><br><br>

        <label for="dat">Data</label>
        <input type="text" id="dat" name="=dat"><br><br>


        <input type="submit" value="Submit">

    </form>
{% endblock %}


